#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        holdTap: holdTap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        caps {
            bindings = <&kp CAPS>;
            key-positions = <0 10 20>;
        };

        back {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <9 19>;
        };

        qwerty {
            bindings = <&to 0>;
            key-positions = <11 12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        letras {
            bindings = <
&kp N6  &kp N7  &kp N8   &kp N9     &kp N0                   &kp DEL               &kp N6  &kp N7     &kp N8     &kp N9   &kp N0    &kp DEL
&kp Y   &kp U   &kp I    &kp O      &kp P                    &kp K_CONTEXT_MENU    &kp Y   &kp U      &kp I      &kp O    &kp P     &kp K_APP
&kp H   &kp J   &kp K    &kp L      &kp SEMICOLON            &kp SQT               &kp G   &kp H      &kp J      &kp K    &kp L     &kp SEMI
&kp N   &kp M   &kp DOT  &kp RA(Q)  &holdTap QUESTION SLASH  &kp RIGHT_SHIFT       &kp N   &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp N1
                         &kp ENTER  &lt 1 BACKSPACE          &mo 2                 &kp N5  &kp N6     &kp N7
                                    &mo 2                    &mo 2                 &kp N0  &kp MINUS
            >;
        };

        move {
            bindings = <
&kp N6  &kp N7  &kp N8   &kp N9     &kp N0                   &kp DEL               &kp N6  &kp N7     &kp N8     &kp N9   &kp N0    &kp DEL
&kp Y   &kp U   &kp I    &kp O      &kp P                    &kp K_CONTEXT_MENU    &kp Y   &kp U      &kp I      &kp O    &kp P     &kp K_APP
&kp H   &kp J   &kp K    &kp L      &kp SEMICOLON            &kp SQT               &kp G   &kp H      &kp J      &kp K    &kp L     &kp SEMI
&kp N   &kp M   &kp DOT  &kp RA(Q)  &holdTap QUESTION SLASH  &kp RIGHT_SHIFT       &kp N   &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp N1
                         &kp ENTER  &lt 1 BACKSPACE          &mo 2                 &kp N5  &kp N6     &kp N7
                                    &mo 2                    &mo 2                 &kp N0  &kp MINUS
            >;
        };

        number {
            bindings = <
&kp N6  &kp N7  &kp N8   &kp N9     &kp N0                   &kp DEL               &kp N6  &kp N7     &kp N8     &kp N9   &kp N0    &kp DEL
&kp Y   &kp U   &kp I    &kp O      &kp P                    &kp K_CONTEXT_MENU    &kp Y   &kp U      &kp I      &kp O    &kp P     &kp K_APP
&kp H   &kp J   &kp K    &kp L      &kp SEMICOLON            &kp SQT               &kp G   &kp H      &kp J      &kp K    &kp L     &kp SEMI
&kp N   &kp M   &kp DOT  &kp RA(Q)  &holdTap QUESTION SLASH  &kp RIGHT_SHIFT       &kp N   &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp N1
                         &kp ENTER  &lt 1 BACKSPACE          &mo 2                 &kp N5  &kp N6     &kp N7
                                    &mo 2                    &mo 2                 &kp N0  &kp MINUS
            >;
        };
    };
};
