#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        holdTap: holdTap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDTAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            flavor = "tap-preferred";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        caps {
            bindings = <&kp CAPS>;
            key-positions = <0 10 20>;
        };

        back {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <9 19>;
        };

        qwerty {
            bindings = <&to 0>;
            key-positions = <11 12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// Left side
&kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P
&kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI
&kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH
                    &kp LCTRL &kp LALT  &kp LSHFT &kp SPACE &kp ENTER &kp BSPC  &kp RSHFT &kp RALT
// Right side
&kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp DEL   &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp DEL
&kp Y     &kp U     &kp I     &kp O     &kp P     &kp K_APP &kp Y     &kp U     &kp I     &kp O     &kp P     &kp K_APP
&kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI
&kp N     &kp M     &kp DOT   &kp Q     &kp SLASH &kp RSHFT &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp N1
                    &kp ENTER &kp BSPC  &mo 1     &kp N5    &kp N6    &kp N7
                    &mo 1     &mo 1     &kp N0    &kp MINUS
            >;
        };

        move_layer {
            bindings = <
// Left side
&kp ESC   &kp HOME  &kp UP    &kp END   &kp PG_UP &kp Y     &kp U     &kp I     &kp O     &kp P
&kp TAB   &kp LEFT  &kp DOWN  &kp RIGHT &kp PG_DN &kp H     &kp J     &kp K     &kp L     &kp SEMI
&kp LCTRL &kp LALT  &kp LSHFT &kp SPACE &kp BSPC  &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH
                    &kp LCTRL &kp LALT  &kp LSHFT &kp SPACE &kp ENTER &kp BSPC  &kp RSHFT &kp RALT
// Right side
&kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp DEL   &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp DEL
&kp Y     &kp U     &kp I     &kp O     &kp P     &kp K_APP &kp Y     &kp U     &kp I     &kp O     &kp P     &kp K_APP
&kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI
&kp N     &kp M     &kp DOT   &kp Q     &kp SLASH &kp RSHFT &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp N1
                    &kp ENTER &kp BSPC  &mo 1     &kp N5    &kp N6    &kp N7
                    &mo 1     &mo 1     &kp N0    &kp MINUS
            >;
        };

        number_layer {
            bindings = <
// Left side
&kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp Y     &kp U     &kp I     &kp O     &kp P
&kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp H     &kp J     &kp K     &kp L     &kp SEMI
&kp MINUS &kp EQUAL &kp LBKT  &kp RBKT  &kp BSLH  &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH
                    &kp LCTRL &kp LALT  &kp LSHFT &kp SPACE &kp ENTER &kp BSPC  &kp RSHFT &kp RALT
// Right side
&kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp DEL   &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp DEL
&kp Y     &kp U     &kp I     &kp O     &kp P     &kp K_APP &kp Y     &kp U     &kp I     &kp O     &kp P     &kp K_APP
&kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI
&kp N     &kp M     &kp DOT   &kp Q     &kp SLASH &kp RSHFT &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp N1
                    &kp ENTER &kp BSPC  &mo 1     &kp N5    &kp N6    &kp N7
                    &mo 1     &mo 1     &kp N0    &kp MINUS
            >;
        };
    };
};
